<template>
  <div></div>
</template>
 
<script>
import 'ol/ol.css'
import { getUid, Map, View } from 'ol'
import { Vector as VectorLayer } from 'ol/layer'
import { Vector as VectorSource } from 'ol/source'
import { Select, Draw, Modify } from 'ol/interaction'
import { GeoJSON } from 'ol/format'
import { apply as applyStyle } from 'ol-mapbox-style'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'

const GEOJSON_OPTS = { dataProjection: 'EPSG:4326', featureProjection: 'EPSG:3857' }
const geoJSONFormat = new GeoJSON(GEOJSON_OPTS)
const VITE_MAPTILER_KEY = process.env.VUE_APP_VITE_MAPTILER_KEY
const MAP_OPTIONS_KEY = 'MAP_OPTIONS'

export default {
  name: "TheMap",
  mounted () {    
    const mapOptions = JSON.parse(localStorage.getItem(MAP_OPTIONS_KEY))
    const { map, source, interactions } = this.createMap(this.$el, mapOptions)
    this.map = map
    this.source = source
    this.interactions = interactions

    source.on('addfeature', this.onAddFeature)
    interactions.select.on('select', this.onSelect)
    map.on("moveend", this.onMoveEnd)
    
    this.$emit('ready')
  },
  methods:{
    createMap(target, options) {
      const defaultOpts = { center: [0, 0], zoom: 2 }

      const map = new Map({
        target,
        view: new View(Object.assign({}, defaultOpts, options))
      })
      
      applyStyle(map, 'https://api.maptiler.com/maps/basic/style.json?key=' + VITE_MAPTILER_KEY)

      const source = new VectorSource()
      const vectorLayer = new VectorLayer({ source, zIndex: 10 })
      map.addLayer(vectorLayer)      

      const select = new Select({ layers: [vectorLayer] })
      
      const interactions = {
        modify: new Modify({ features: select.getFeatures() }),
        select,
        drawPolygon: new Draw({ source, type: 'Polygon' }),
      }

      Object.values(interactions).forEach(i => map.addInteraction(i))

      interactions.modify.setActive(true)
      interactions.drawPolygon.setActive(false)

      return { map, source, interactions }
    },
    onSelect (e) {
      if (!this.isDrawing) {
        const ids = e.target.getFeatures().getArray().map(f => f.getId())
        this.setSelectedIds(ids)
      }
    },
    onAddFeature ({ feature }) {
      this.addFeature(this.getDataFeature(feature))
      this.setIsDrawing(false)
    },
    getDataFeature(mapFeature) {
      let id = mapFeature.getId()
      if (!id) {
        id = getUid(mapFeature)
        mapFeature.setId(id)
      }
      const { ...properties } = mapFeature.getProperties()
      return { id, properties }
    },
    onMoveEnd() {
      const view = this.map.getView()
      const zoom = view.getZoom()
      const center = view.getCenter()
      localStorage.setItem(MAP_OPTIONS_KEY, JSON.stringify({zoom, center}))
    },
    async openFile (file) {
      try {
        const json = JSON.parse(await file.text())
        const features = this.geoJSONToFeatures(json, { fileName: file.name })
        this.source.addFeatures(features)
        this.map.getView().fit(this.source.getExtent())
      } catch (err) {
        console.log('openFile error', err)
      }
    },
    geoJSONToFeatures(json, props) {
      const features = geoJSONFormat.readFeaturesFromObject(json, GEOJSON_OPTS)
      if (props) features.forEach(f => f.setProperties(props))
      return features
    },
    clearMap () {
      this.source.clear()
      this.clearFeatures()
      this.map.getView().setCenter([-10653232.712998891,4030167.8824318023])
      this.map.getView().setZoom(4)
      this.$emit('clearLocation');
    },
    downloadFile () {
      const json = geoJSONFormat.writeFeaturesObject(this.source.getFeatures(), { decimals: 7 })
      const blobParts = [JSON.stringify(json, null, 2)]
      const fileBlob = new Blob(blobParts, { type: 'application/json' })
      const a = document.createElement('a')
      a.download = 'features.json'
      a.href = URL.createObjectURL(fileBlob)
      setTimeout(() => URL.revokeObjectURL(a.href), 3E4)
      setTimeout(() => a.click(), 0)
      this.$emit('filedownloaded')
    },
    searchAddress (searchValue) {
      if (searchValue) {
        const url = ('https://api.maptiler.com/geocoding/query.json?key=mapvalue').replace('query', searchValue).replace('mapvalue', VITE_MAPTILER_KEY)
        axios.get(url).then(response => {
          this.clearFeatures()          
          response.data.features.forEach(fea => {
            const feature = geoJSONFormat.readFeature(fea, GEOJSON_OPTS)
            feature.setProperties({'name': fea.place_name, 'type': fea.place_type})
            this.source.addFeature(feature)
          })
        })
      }
    },   
    updateSelection () {
      const selectedCount = Object.entries(this.selectedIds).filter(e => e[1]).length
      const currentSelection = this.interactions.select.getFeatures()
      
      if (selectedCount !== currentSelection.getLength()) {
        currentSelection.clear()
        this.source.forEachFeature(f => {
          if (this.selectedIds[f.getId()]) {
            currentSelection.push(f)
            const mapFeature = this.source.getFeatureById(f.getId())
            if (mapFeature) {
              this.map.getView().fit(mapFeature.getGeometry().getExtent(), { duration: 1000, maxZoom: 16 })
            }
          }
        })
      }
    },
    ...mapMutations(['setIsDrawing', 'addFeature', 'setSelectedIds', 'clearFeatures'])
  },
  computed: {
    ...mapState(['isDrawing', 'selectedIds'])
  },
  watch: {
    isDrawing: function (value) {
      this.interactions.drawPolygon.setActive(value === true)
      this.interactions.modify.setActive(value !== true)
    }    
  } 
};
</script>