<template>
  <div id="app">
    <header>
      <nav class="nav-items">
        <div>
          <h1 class="heading"> <i class="mdi mdi-map"></i> Simple Map Editor </h1>
        </div>
        <div class="flex">
          <button @click="$refs.inputFile.click()" class="headerbutton">
            <i class="mdi mdi-upload"></i>
            Upload 
          </button>
          <button @click="$refs.map.downloadFile()" class="headerbutton">
            <i class="mdi mdi-download"></i>
            Download
          </button>
          <button @click="$refs.map.clearMap()" class="headerbutton">
            <i class="mdi mdi-notification-clear-all"></i>
            Clear
          </button>
        </div>
      </nav>
    </header>
    <div>
      <input style="visibility: hidden" type="file" ref="inputFile" @change="onFileChange"/>
      <label> Location: </label>
      <input autocomplete="false" id="search" type="text" v-model="searchValue"/>
      <button @click="$refs.map.searchAddress(searchValue)" class="headerbutton">
        <i class="mdi mdi-map-search"></i>
        Search
      </button>  
      <label v-if="fileName" class="labelName"> {{ fileName }} </label>
    </div>
    <section>
      <nav class="flex">
        <div class="left-sidebar">
          <button @click="setIsDrawing(!isDrawing)" class="sidebarbutton">
            <i :class="[isDrawing ? 'mdi mdi-pencil': 'mdi mdi-hand-pointing-right']"></i>
            <span data-tooltip="Toggle drawing or editing mode">
              {{isDrawing ? 'Drawing' : 'Editing'}}
            </span>
          </button>
          <ul v-for="feature in features" :key="feature.id">
            <li :class="selectedIds[feature.id] ? 'selected' : ''">
              <label 
                style="cursor: pointer"
                @click.prevent="toggleSelectedId(feature.id)"
              >{{getFeatureName(feature)}}</label>
            </li> 
          </ul>
        </div> 
        <the-map ref="map" class="map" @clearLocation="clearLocation()" @filedownloaded="filedownloaded()"/>
      </nav>      
    </section>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import TheMap from './components/TheMap.vue'

export default {
  name: 'App',
  components: {
    TheMap
  },
  data(){
    return {
      searchValue: '',
      fileName: ''
    }
  },
  computed: {
    ...mapState(["isDrawing", "features", "selectedIds"]),
  },
  methods: {
    clearLocation() {
      this.searchValue = null
      this.fileName = null
    },
    filedownloaded(){
      this.fileName = 'File Downloaded : features.json' 
    },
    onFileChange(e) {
      const file = e.target.files[0];
      if (file) {
        this.fileName = 'File Uploaded:' + file.name
        this.$refs.map.openFile(file) 
      } 
    },    
    getFeatureName(feature) {
      const { id, properties } = feature;
      if (properties && properties.type && properties.name) return properties.type.toString().toLocaleUpperCase() + ': ' + properties.name;
      const entries = Object.entries(properties)
        .filter((e) => e[0] !== "fileName" && typeof e[1] === "string")
        .sort((a, b) => a[0].localeCompare(b[0]));

      return entries.length > 0
        ? entries.map(([name, value]) => `${name}: ${value}`).join("; ")
        : `Feature #${id}`;
    },    
    ...mapMutations(["setIsDrawing", "toggleSelectedId"])
  },
  watch: {
    selectedIds: {
      handler: function () {
        this.$refs.map.updateSelection()
      },
      deep: true
    }
  }
}
</script>

<style>
section {
  padding: 10px;
}

.heading {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-left: 0.75rem;
  font-weight: inherit;
}

.nav-items {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.flex {
  display: flex;
}

.left-sidebar {
  width: 20%;
  height: 500px;
  overflow-y: auto;
}

.map {
  width: 100%;
  height:500px;
  float:left;
}

ul {
  margin-left: 0;
  padding-inline: 10px;
  list-style-position: inside;
}

li.selected {
  background-color: #fde68a;
}

button {
  border-radius: 0.5rem;
  padding-top: 5px;
  padding-right: 10px;
  gap: 0.5rem;
  font-size: 100%;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #e1dcdc;
}

.headerbutton {
  background-color:transparent;
  margin-right: 30px;
  height: 30px;
}

.sidebarbutton {
  background-color: #e5e7eb;
  height: 40px;
}

.labelName {
  padding-left: 20%;
  color: red;
}

</style>
